<h1>Celebrities Data Base</h1>

<ul>
<li><a href="/celebrities/create">Create new celebrity</a></li>
<li><a href="/celebrities">List of Spanish Celebrities</a></li>
</ul>

<br>

<ul>
<li><a href="/movies/create">Create new movie</a></li>
<li><a href="/movies">List of movies</a></li>
</ul>